body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}
.section-title {
  margin-bottom: 2rem;
  font-weight: 700;
}
.project-card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
