body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}
.section-title {
  margin-bottom: 2rem;
  font-weight: 700;
}
.project-card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
.logo {
  img {
    width: 100px;
    padding: 0px 10px;
    /* border: 1px solid red; */
  }
}

.avatar-wrapper img {
  width: 117px;
  border-radius: 50%;
}
@media (max-width: 576px) {
  .hero-title {
    font-size: 1.5rem;
  }
  .text-purple {
    font-size: 0.95rem;
  }
  .hero-avatar {
    max-width: 120px;
  }
  .btn-lg {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}
